
/* Your CSS Code here. */
body{
	width:100%;
}
img{
	width:100px;	
}
header{
	text-align:center;
	padding:0px;
}
section, section:not(~li){
	text-decoration:underline;
}
/*  #skill, #project{
	text-decoration:underline;
} */
/* #project:not(.list){ 
	text-decoration:underline;
} */
