
/* Your CSS Code here. */
body{
	width:100%;
}
img{
	width:100px;	
}
header{
	text-align:center;
	padding:0px;
}
#skill:not(ul, li){
	text-decoration:underline;
}
/* #project{
	text-decoration:underline;
} */